@using Microsoft.AspNetCore.Identity
@using TheCupOfLife.Data.Models
@inject UserManager<User> UserManager

@model IEnumerable<TheCupOfLife.Data.Models.Post>

@{
    ViewData["Title"] = "All posts";
}

<h1>All posts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="@Url.Content(item.ImageUrl)" style="width: 400px; height: 400px;" />
                </td>
                <td>
                    @item.Content.Substring(0, 50)...
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag.Name)
                </td>
                <td class="d-flex flex-column" style="gap: 10px;" valign="middle">
                    @if (UserManager.GetUserId(User) == item.UserId || User.IsInRole(Roles.ADMIN.ToString()))
                    {
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    }
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
